<h1><%= t('views.edit.edit') %></h1>

<% if(@restaurant.errors.any?) %>
  <p><%= t('errors.messages.verify_error') %></p>
  <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'form', locals: { restaurant: @restaurant } %>
